.idea/
tmp/
*tmp*
.coverage
.eggs/
.pytest_cache/
ccfepyutils.egg-info/
.profile
*.png
!ccfepyutils/guis/icons/*
*.directory
*_tmp
*__pycache__
*.pyc
*.log
*.iml
*.xml
*.xlsx
~*
*.so
*.txt
*.data
*.prof
*.lprof
*.tmp
*.p
*.csv
.nfs0*

*.old*

